body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#gallery {
    margin-top: 20px;
}

.card{
    width: 18rem;
    margin: 0 auto;
}

.card img {
    height: 250px;
    /* object-fit: cover; */
}